@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .full-width-exception {
      max-width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }